*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Readex Pro", sans-serif;
  background-color: #222;

  background-repeat: no-repeat;
  height: 100vh;
  line-height: 1.6;
  overflow-x: hidden;
}
.color-2 {
  background: #a8dadc;
}
.color-3 {
  background: #2a9d8f;
}
h1 {
  font-size: 8rem;
}
h2 {
  font-size: 4rem;
}
p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: inherit;
}

.hide {
  display: none !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  color: #05bc55;
  font-family: "Bungee", cursive;
  font-size: 7rem;
  text-align: center;
  padding: 3rem 0;
}
.heading-secondary {
  font-size: 2.6rem;
  color: #1a1a1a;
  font-weight: 650;
  padding: 1rem 0;
}
.starter-1 p {
  opacity: 0.75;
}
.starter-1 {
  background-color: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );

  display: flex;
  flex-direction: column;
  width: min(90%, 30rem);
  padding: 3rem;
  margin: 3rem;
  border-radius: 2rem;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 4rem;
  color: #fff;
}
.icon-1 {
  font-size: 4rem;
  filter: drop-shadow(0 1rem 1.5rem rgba(0, 0, 0, 0.2));
  cursor: pointer;
  transition: all 0.2s;
}
.icon-1:hover {
  filter: drop-shadow(0 0 0.8rem rgb(255, 255, 255));
}
.btn {
  border: none;
  background: none;
}
.wrapper-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.geo-img {
  width: 17rem;
  height: 100%;
  margin-top: -5rem;
  margin-left: 3.5rem;
  filter: drop-shadow(1.5rem 0.8rem 1.5rem rgba(0, 0, 0, 0.4));
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transition: all 1s;
}
.option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  width: 90%;
  gap: 1.2rem;
}
.option,
.btn-next,
.btn-home {
  width: 100%;
  position: relative;
  padding: 2rem;
  border: none;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0 4px 0.3rem rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  text-align: left;
  font-family: inherit;
}

.correct {
  background: #00bb2f;
}
.incorrect {
  background: #ff2c2c;
}
.correct-2 {
  background: grey;
}
.question {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}
.icon-2 {
  font-size: 2.5rem;
  position: absolute;
  right: 5%;
}
.btn-next,
.btn-home {
  cursor: pointer;
  width: 8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  margin: 3rem;
  align-self: flex-end;
}
.btn-next:disabled {
  background: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}
.timer {
  font-family: "Bungee", cursive;
  color: #1a1a1a;
}
.counter {
  padding: 1rem;
}
.finish-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  max-width: 50rem;
  width: 90%;
  margin: 5rem auto;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 5px 10rem rgba(0, 0, 0, 0.4);
}
.rating {
  font-size: 4rem;
  padding: 2rem;
}
.discription {
  padding: 1rem;
}
.btn-home {
  align-self: center;
  background: #1a1a1a;
  color: #fff;
  font-family: inherit;
  transition: all 0.2s;
}
.btn-home:hover {
  background: #000;
}
.f-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.silde-animation {
  transform: translateX(0rem);
  transition: all 1s;
  animation: slide-left 0.6s linear;
}
.slideDown-aim {
  animation: slide-down 0.5s linear;
}
@keyframes slide-left {
  0% {
    transform: translateX(-150rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
}

.selector {
  border: none;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin: 1.5rem 0;
  border: solid 1px #ccc;
}
.selector:focus {
  outline: none;
  border: solid 1px #000;
}

.loading-screen {
  background: #222;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-circle {
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  border-radius: 50%;
  border-top: solid 5px #05bc55;
  border-left: solid 5px #05bc55;
  animation: spin 0.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
